@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
}
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}
.app-container {
  display: flex;
}
.component-a {
  width: 60%;
}

.component-b {
  width: 40%;
}
